<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <% @myAssembly.each do |a| %>
            <p><a href ="/valueplus/show/<%= a.id %>"><%= a.title %></a></p>
            <p><a href ="/valueplus/edit/<%= a.id %>">수정</a><a href ="/valueplus/destroy/<%= a.id %>">삭제</a></p>
        <% end %>
    </body>
</html>