<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form action= '/valueplus/matchFilter' method='post'>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            (능력)<br>
            <input type="checkbox" name="plan" value="plan">기획<br>
            <input type="checkbox" name="mc" value="mc">진행<br>
            <input type="checkbox" name="design" value="design">디자인<br>
            <input type="checkbox" name="video" value="video">영상<br>
            <input type="checkbox" name="sns" value="sns">sns<br>
            (분야)<br>
            <input type="checkbox" name="politic" value="politic">정치<br>
            <input type="checkbox" name="society" value="society">사회일반<br>
            <input type="checkbox" name="education" value="education">교육<br>
            <input type="checkbox" name="foodMedi" value="foodMedi">식품/의료<br>
            <input type="checkbox" name="press" value="press">언론<br>
            <input type="checkbox" name="environment" value="environment">환경<br>
            <input type="checkbox" name="right" value="right">인권/복지<br>
            <input type="checkbox" name="female" value="female">여성<br>
            <button type ='submit'>submit</button>
        </form>
        
        <% @userMatch. each do |u| %>
        <a href="/valueplus/mypage/<%= @userMatch.id%>"><%= u.email %></a>
        <% end %>
    </body>
</html>
